.error {
	color: red;
}

.hand {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: center;
	justify-content: space-around;
}
.playPhase{
	width: 100%;	
	margin: 0 auto;
}
.card {
	width: 150px;
	height: 200px;
}

.hand-item {
	margin: auto 5px;
}

.chosen-cards {
		display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: center;
	justify-content: space-around;
	width: 100%;
}
.chosen-card {
	margin: auto 5px;
}
.card-place-holder{
	list-style: none;
	width: 160px;
	height: 210px;
}
.centerElements{
	width: 300px;
	margin: 0 auto;
	display: block;
}